@tailwind utilities;

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

body {
    font-family: 'Inter', ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background-image: url(/background.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}

.dark body {
  background-image: url(/background.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}

html[class~=dark] .dark\:nx-bg-dark {
  background-color: transparent !important;
  box-shadow: none !important;
}

.dark {
  --docsearch-text-color: rgb(245, 246, 247) !important;
  --docsearch-container-background: rgba(9, 10, 17, 0.8) !important;
  --docsearch-modal-background: rgb(21, 23, 42) !important;
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgb(44, 46, 64),
    0 3px 8px 0 rgb(0, 3, 9) !important;
  --docsearch-searchbox-background: rgb(9, 10, 17) !important;
  --docsearch-searchbox-focus-background: #000 !important;
  --docsearch-hit-color: rgb(190, 195, 201) !important;
  --docsearch-hit-shadow: none !important;
  --docsearch-hit-background: rgb(9, 10, 17) !important;
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    rgb(86, 88, 114) 0%,
    rgb(49, 53, 91) 100%
  ) !important;
  --docsearch-key-shadow: inset 0 -2px 0 0 rgb(40, 45, 85),
    inset 0 0 1px 1px rgb(81, 87, 125), 0 2px 2px 0 rgba(3, 4, 9, 0.3) !important;
  --docsearch-footer-background: rgb(30, 33, 54) !important;
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  --docsearch-logo-color: rgb(255, 255, 255) !important;
  --docsearch-muted-color: rgb(127, 132, 151) !important;
}

/* Copy Button */
.copybutton {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  background-color: #e1e1e2;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 14px;
  border-width: 1px;
  border-color:#bec3c93c;
  border-style: solid;
}
.dark .copybutton {
  background-color: #404959;
  color: #fff;
  z-index: 100;
}

.copybutton > svg{
  margin: 6px 4px;
}
.dark .copybutton > svg {
  fill: white;
}
.copybutton > svg {
  fill: black;
}

.codebox .copybutton{
  visibility: hidden;
  opacity: 0;
}

.codebox:hover .copybutton{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}

.copybutton:hover {
  border-width: 1px;
  border-color:rgba(190, 195, 201, 0.692);
  border-style: solid;
}


.gloassarySearchBox {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
}

@font-face {
  font-family: "Beatrice Display";
  src: url("/fonts/BeatriceDisplay-Medium.woff2");
}

h1 {
  font-family: "Beatrice Display";
}