.docs-search > span {
  width: 100%;
}
.docs-search {
  max-width: 500px;
}
.docs-search input {
  padding-left: 35px;
}
.dark .docs-search input {
  border: 2px solid #4464bd77;
  background-color: #111;
}

.dark .sidebar li.active>a {
  background-color: #0083ff5c !important;
}

.dark .sidebar a:hover,
.dark .sidebar button:hover {
  background-color: #0083ff1c !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header span {
  display: inline-block;
}

.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
  min-width: 300px;
  max-width: calc(100vw - 50px);
}

.convologo {
  fill: #010101;
}

.dark .convologo {
  fill: #fff;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.search-slash {
  position: absolute;
  right: 8px;
  top: 6px;
  padding: 7px;
  background: #eef2f7;
  border-radius: 4px;
}

.dark .search-slash {
  background: #090d20;
}

.copied_hint {
  position: absolute;
  top: -2px;
  right: 30px;
}

.algolia-autocomplete pre {
	display: none;
}
